/* MAIN SECTION */
@media only screen and (min-width:1200px){
     #hero-section{
               background-color: rgb(20, 20, 20);
               height: 130vh;
               overflow: hidden;
          }
          .container{
                    padding: 0 5rem;
          }
          .nav-container{
                    display: flex;
                    justify-content: space-between;
                    height: 16vh;
                    background-color: #000;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    z-index: 2;
          }
          .logo{
                    font-size: 4rem;
                    font-family: sans-serif;
                    font-weight: 700;
                    color: #feb633;
                    margin: auto 0;
                    padding-top: 0.5rem;
                    position: fixed;
          }
          .nav-list{
                    display: flex;
                    margin: auto 0;
                    list-style: none;
                    position: fixed;
                    left: 50%;
                    top: 3rem;
          }
          .nav-item{
                    padding: 0 1rem;
                    font-size: 1.2rem;
          }

          .nav-link{
                    text-decoration: none;
                    color: #fff;
                    text-transform: capitalize;
                    font-family: sans-serif;
                    font-weight: 300;
          }
          .nav-link:hover{
                    transition:all .3s;
                    color: #feb633;
                    border-bottom: 2px solid #feb633;
                    padding: 0.3rem 0;
          }
          #toggle{
              display: none;
          }
          .header{
                    position: absolute;
                    top: 40%;
                    z-index: 1;
          }
          .header-container{
               display: flex;
               flex-direction: row;
               justify-content: space-between;
          }
          .headings{
                    color: #fff;
                    animation-name: moveLeft;
                    animation-duration: 3s;
                    margin-top: 50px;
          }
          .main-heading{
                    font-size: 4.3rem;
                    font-weight: 600;
                    font-family: sans-serif;
                    text-transform: capitalize;
          }
          .sub-heading{
                    font-size: 1.7rem;
                    margin-top: -2rem;
                    color: #c4c4c4;
                    text-transform: capitalize;
                    margin-bottom: 4rem;
                    width: 90%;
          }
          .header-button{
               text-decoration: none;
               text-transform: capitalize;
               font-size: 1.2rem;
               color: #fff;
               background-color: #feb633;
               padding: 1.2rem 4.3rem;
               border-radius: .3rem;
          }
          .header-button:hover{
               transition: all .3s;
               background-color: transparent;
               border: 2px solid #feb633;
               color: #feb633;
          }
          .heading-img{
               width: 450px;
               height: 450px;
               border-radius: 50%;
               opacity: 0.8;
               background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315)), url(../img/port.jpg); 
               background-size: cover;
          }
}
/* ABOUT SECTION */
@media only screen and (min-width:1200px){
     #about{
          height: 110vh;
          background-color: rgb(39, 39, 39);
          margin-top: -2rem;
          width: 100%;
          overflow: hidden;
     }
     .row{
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-top: 15rem;
     }
     .about-heading-container{
          position: relative;
          bottom: 2rem;
          left: 12rem;
          animation-name: moveLeft;
          animation-duration: 3s;
     }
     .about-heading{
          color: #c4c4c4;
          font-size: 3rem;
          text-transform: capitalize;
     }
     .about-border{
          border-bottom: 3px solid #feb633;
          position: relative;
          bottom: 1.3rem;
          width: 5rem;
     }
     .about-text-container{
          position: relative;
          left: 30%;
          animation-name: moveDown;
          animation-duration: 3s;
     }
     .about-para{
          width:55%;
          color: #c4c4c4;
          font-size: 1.2rem;
          line-height: 1.5;
     }
     .about-para p{
          padding: 0.6rem 0;
     }
     .about-buttons{
          margin-top: 2rem;
          display: flex;
          flex-direction: row;
     }
     .btn-full{
          text-decoration: none;
          text-transform: capitalize;
          font-size: 1rem;
          color: #fff;
          background-color: #feb633;
          padding: 1.1rem 2rem;
          border-radius: .3rem;
     }
     .btn-full:hover{
          transition: all .3s;
          background-color: transparent;
          border: 2px solid #feb633;
          color: #feb633;
     }
     .btn-light{
          border: 2px solid #feb633;
          border-radius: .3rem;
          text-decoration: none;
          font-size: 1rem;
          margin: 0 0 1rem 12rem;
          color: #feb633;
          padding: 1rem 2rem;
          border-radius: .3rem;
     }
     .btn-light:hover{
          transition: all .3s;
          background-color: transparent;
          color: #fff;
          background-color: #feb633;
     }
}

/* SERVICE SECTION */
@media only screen and (min-width:1200px){
     #services{
          height: 100%;
          background-color: rgb(20, 20, 20);
          margin-top: -2rem;
          overflow: hidden;
     }
     .service-heading-container{
          text-align: center;
          padding-top: 4.2rem;
          color: #c4c4c4;
          animation-name: moveUp;
          animation-duration: 3s;
     }
     .service-heading{
          color: #c4c4c4;
          font-size: 3rem;
          text-transform: capitalize;
     }
     .service-border{
          border-bottom: 3px solid #feb633;
          position: relative;
          left: 44%;
          bottom: 1.2rem;
          width: 9rem;
     }
     .service-para{
          padding: 0 10rem;
          width: 70%;
          font-size: 1.2rem;
          line-height: 1.5;
          text-align: center;
     }
     .service-row{
          display: flex;
          flex-direction: row;
          margin-top: 8rem;
     }
     .col-1-of-2x{
          width: 100%;
          height: 100%;
          margin: 0 1rem;
     }
     .group-1{
          background-image: linear-gradient(#6ec1e4bd, #6ec1e4bd), url(../img/UX.jpg); 
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 20rem;
          border-radius: .8rem;
          animation-name: moveLeft;
          animation-duration: 3s;
     }
     .group-2{
          background-image: linear-gradient(rgba(173, 3, 173, 0.712), rgba(173, 3, 173, 0.712)), url(../img/app.jpg); 
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 20rem;
          margin: 2rem 0 10rem 0;
          border-radius: .8rem;
          animation-name: moveLeft;
          animation-duration: 3s;
     }
     .group-3{
          background-image: linear-gradient(rgba(241, 241, 15, 0.767),rgba(241, 241, 15, 0.767)), url(../img/web-dev.jpg); 
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 20rem;
          border-radius: .8rem;
          animation-name: moveRight;
          animation-duration: 3s;
     }
     .group-4{
          background-image: linear-gradient(#1fc435bd,#1fc435bd), url(../img/web-design.jpg); 
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 20rem;
          margin: 2rem 0 10rem 0;
          border-radius: .8rem;
          animation-name: moveRight;
          animation-duration: 3s;
     }
     .group-text-container{
          position: relative;
          top: 4rem;
     }
     #icon{
          font-size: 4rem;
          color: #fff;
     }
     .group-heading{
          color: #fff;
          padding-top: 1rem;
          font-size: 1.5rem;
          font-weight: 700;
          text-transform: capitalize;

     }
     .group-para{
          color: #fff;
          font-size: 1.2rem;
          font-weight: 600;
          text-align: left;
          width: 90%;
     }
}
/* SKILL */
@media only screen and (min-width:1200px){
     #skills{
          height: 100%;
          background-color: rgb(39, 39, 39);
          margin-top: -2rem;
          overflow: hidden;
     }
     .skill-heading-container{
          text-align: center;
          padding-top: 4.2rem;
          color: #c4c4c4;
          animation-name: moveUp;
          animation-duration: 3s;
     }
     .skill-heading{
          color: #c4c4c4;
          font-size: 3rem;
          text-transform: capitalize;
     }
     .skill-border{
          border-bottom: 3px solid #feb633;
          position: relative;
          left: 44%;
          bottom: 1.2rem;
          width: 9rem;
     }
     .skill-para{
          width: 100%;
          font-size: 1.2rem;
          line-height: 1.5;
          text-align: center;
     }
     .skill-row{
          display: flex;
          flex-direction: row;
          margin: 5rem 0 10rem 0;
          color: #c4c4c4;
     }

     .s-container{
          width: 50%;
          animation-name: moveUp;
          animation-duration: 3s;
     }
     .s-heading{
          font-size: 2.5rem;
          width: 70%;
          text-transform: capitalize;
          letter-spacing: .12rem;
     }
     .s-para{
          margin-bottom: 3rem;
          font-size: 1.2rem;
          width: 90%;
     }
     .percent-container{
          position: relative;
          right: 10rem;
          top: 1.7rem;
          animation-name: moveDown;
          animation-duration: 3s;
     }
     .percent-text{
          font-size: 1.2rem;
     }
     .percent{
          width: 20rem;
          background-color: #c4c4c4;
          height: .2rem;
     }
     .percent-color-1{
          width: 18rem;
          background-color: #feb633;
          height: .2rem;
          animation-name: fromLeft;
          animation-duration: 100s;
     }
     .percent-color-2{
          width: 15rem;
          background-color: #feb633;
          height: .2rem;
     }
     .percent-color-3{
          width: 12rem;
          background-color: #feb633;
          height: .2rem;
     }
     .percent-color-4{
          width: 6rem;
          background-color: #feb633;
          height: .2rem;
     }
}
/* PRICE */
@media only screen and (min-width:1200px){
     #price{
          height: 140vh;
          background-color: rgb(20, 20, 20);
          margin-top: -2rem;
          width: 100%;
          overflow: hidden;
     }
     .price-heading-container{
          text-align: center;
          color: #c4c4c4;
          animation-name: moveUp;
          animation-duration: 3s;
     }
     .price-heading{
          color: #c4c4c4;
          font-size: 3rem;
          text-transform: capitalize;
     }
     .price-border{
          border-bottom: 3px solid #feb633;
          position: relative;
          left: 44%;
          bottom: 1.2rem;
          width: 9rem;
     }
     .price-para{
          padding: 0 10rem;
          width: 70%;
          font-size: 1.2rem;
          line-height: 1.5;
          text-align: center;
     }
     .price-row{
          display: flex;
          flex-direction: row;
          animation-name: moveDown;
          animation-duration: 3s;
     }
     
     .col-1-of-3p{
          background-color: #fff;
          height: 23rem;
          width: 22rem;
          margin: 3.5rem auto;
          outline: none;
          transition: all .3s;
     }
     .col-1-of-3p:hover{
          transform: translateY(-30px);
          background-color: #ccc;
     }
     .col-1-of-3p:hover .p-heading{
          background-color: #feb633;
     }
     .col-1-of-3p:hover .p-price{
          color: #000;
     }
     .col-1-of-3p:hover .p-item{
          color: #000;
     }
     .col-1-of-3p:hover .price-btn{
          background-color: #feb633;
     }
     .p-heading{
          background-color: #c4c4c4;
          text-align: center;
          padding: 1rem 0;
          color: #fff;
          font-size: 1.5rem;
          text-transform: capitalize;
     }
     .p-container{
          padding: 0 1rem;
     }
     .p-price{
          text-align: center;
          font-size: 3rem;
          color: #c4c4c4;
          font-weight: 500;
          padding-top: 2rem;
     }
     
     .p-item{
          font-size: 1.2rem;
          line-height: 1.5;
     }
     .price-btn{
          position: relative;
          left: 35%;
          top: .5rem;
          background-color: #c4c4c4;
          color: #fff;
          padding: .5rem 1.5rem;
          border: none;
          border-radius: .3rem;
          cursor: pointer;
     }
     @keyframes moveUp{
          0%{
               opacity: 0;
               transform: translateY(-100px);
          }
     
     
          100%{
               opacity: 1;
               transform: translate(0);
          }
     }
     
     @keyframes moveDown{
          0%{
               opacity: 0;
               transform: translateY(100px);
          }
               
          100%{
               opacity: 1;
               transform: translateY(0);
          }
     }
     @keyframes moveLeft{
          0%{
               opacity: 0;
               transform: translateX(-100px);
          }
               
          100%{
               opacity: 1;
               transform: translateX(0);
          }
     }
     @keyframes moveRight{
          0%{
               opacity: 0;
               transform: translateX(100px);
          }
               
          100%{
               opacity: 1;
               transform: translateX(0);
          }
     }
}
/* CONTACT */
@media only screen and (min-width:1200px){
     #contact{
          height: 90vh;
          background-color: rgb(39, 39, 39);
          width: 100%;
          overflow: hidden;
     }
     .contact-heading-container{
          text-align: center;
          color: #c4c4c4;
     }
     .contact-heading{
          color: #c4c4c4;
          font-size: 2.5rem;
          text-transform: capitalize;
          padding-top: 4rem;
     }
     .contact-border{
          border-bottom: 3px solid #feb633;
          position: relative;
          left: 44.5%;
          bottom: 1.2rem;
          width: 8rem;
     }
     .contact-para{
          width: 100%;
          font-size: 1.2rem;
          line-height: 1.5;
          text-align: center;
     }
     .strong{
          color: #fff;
     }
     .copyright{
          margin-top: 10rem;
     }
}